In [14]:
#https://www.codegrepper.com/code-examples/python/read+csv+file+in+google+colab
# https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92

from google.colab import files
uploaded = files.upload()

Saving Sparktest2.csv to Sparktest2.csv

In [7]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['Sparktest2.csv']))

In [8]:
df2

  Name  Age
0  Ahm   30
1  Mom   50
2  Nom   30
3   Ib   40

In [1]:
pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 59kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 16.4MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=63e40408991b033668bb6fadfd67339aa02d0aed9ff825b25631d8cd08a40056
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [16]:

!pip install -q findspark
import findspark
findspark.init()

In [10]:
import pyspark
from pyspark.sql import SparkSession

In [11]:
spark = SparkSession.builder.appName('TestSpark').getOrCreate()

In [12]:
spark

In [17]:
dfspark = spark.read.csv('Sparktest2.csv')

In [18]:
dfspark.show()

+----+---+-------+----------+
| _c0|_c1|    _c2|       _c3|
+----+---+-------+----------+
|Name|Age|Married|Experience|
| Ahm| 30|     no|         2|
| Mom| 50|    yes|        20|
| Nom| 30|     no|         5|
|  Ib| 40|     no|        15|
|Ibra| 44|    yes|        14|
+----+---+-------+----------+

In [19]:
dfspark = spark.read.option('header', 'true').csv('Sparktest2.csv')

In [20]:
dfspark.show()

+----+---+-------+----------+
|Name|Age|Married|Experience|
+----+---+-------+----------+
| Ahm| 30|     no|         2|
| Mom| 50|    yes|        20|
| Nom| 30|     no|         5|
|  Ib| 40|     no|        15|
|Ibra| 44|    yes|        14|
+----+---+-------+----------+

In [21]:
print(type(dfspark))
print(dfspark.dtypes)
dfspark.printSchema()

<class 'pyspark.sql.dataframe.DataFrame'>
[('Name', 'string'), ('Age', 'string'), ('Married', 'string'), ('Experience', 'string')]
root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Married: string (nullable = true)
 |-- Experience: string (nullable = true)

In [22]:
dfspark.describe().show()

+-------+----+----------------+-------+-----------------+
|summary|Name|             Age|Married|       Experience|
+-------+----+----------------+-------+-----------------+
|  count|   5|               5|      5|                5|
|   mean|null|            38.8|   null|             11.2|
| stddev|null|8.78635305459552|   null|7.463243262818116|
|    min| Ahm|              30|     no|               14|
|    max| Nom|              50|    yes|                5|
+-------+----+----------------+-------+-----------------+

In [24]:
# to select one coumn
dfspark.select('Name', 'Experience').show()

+----+----------+
|Name|Experience|
+----+----------+
| Ahm|         2|
| Mom|        20|
| Nom|         5|
|  Ib|        15|
|Ibra|        14|
+----+----------+

In [25]:
# Add Columns 

# Total_Experience = ['5','7','85','2']
# df = df.withColumn("profile", when(df.age >= 40, "Senior").otherwise("Executive"))
# dfspark = dfspark.withColumn("Total Experience", Total_Experience )
# dfspark.show()
import pyspark.sql.functions as sf
dfspark = dfspark.withColumn("greeting", sf.lit("hello")).show()

+----+---+-------+----------+--------+
|Name|Age|Married|Experience|greeting|
+----+---+-------+----------+--------+
| Ahm| 30|     no|         2|   hello|
| Mom| 50|    yes|        20|   hello|
| Nom| 30|     no|         5|   hello|
|  Ib| 40|     no|        15|   hello|
|Ibra| 44|    yes|        14|   hello|
+----+---+-------+----------+--------+

In [28]:
# dfspark = dfspark.withColumn("greeting2", sf.lit("hellooo")).show()

In [29]:

# dfspark= dfspark.withColumn("profile", sf.when(df.Age >= 40, "old").otherwise("Young"))