In [1]:
from google.colab import files
uploaded = files.upload()

Saving Sparktest2.csv to Sparktest2.csv

In [6]:
!pip install pyspark
import pyspark
from pyspark.sql import SparkSession

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 72kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 15.2MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=854107e246d812e48484fd9923439d63c9a8e1aa320f3b4e24b3c7acede93f46
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [83]:
spark = SparkSession.builder.appName('TestSpark2').getOrCreate()

In [84]:
spark

In [85]:
dfspark = spark.read.option('header', 'true').csv('Sparktest2.csv') 
dfspark.show()

+----+----+-------+----------+------+
|Name| Age|Married|Experience|Salary|
+----+----+-------+----------+------+
| Ahm|  30|     no|         2|  2000|
| Mom|  50|    yes|        20|  3000|
| Nom|  30|     no|         5|  2500|
|  Ib|  40|     no|        15|  3000|
|Ibra|  44|    yes|        14|  3100|
|Momh|  55|    yes|        20|  3200|
|Nomg|  33|     no|         6|  2300|
|null|null|     no|      null| 10000|
|null|null|     no|      null|   500|
+----+----+-------+----------+------+

In [72]:
##to drop the columns
dfspark.drop('Married').show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| Ahm|  30|         2|  2000|
| Mom|  50|        20|  3000|
| Nom|  30|         5|  2500|
|  Ib|  40|        15|  3000|
|Ibra|  44|        14|  3100|
|Momh|  55|        20|  3200|
|Nomg|  33|         6|  2300|
|null|null|      null| 10000|
|null|null|      null|   500|
+----+----+----------+------+

In [17]:
#https://sparkbyexamples.com/pyspark/pyspark-fillna-fill-replace-null-values/
dfspark.na.fill('here missing values',['Experience']).show()

+----+----+-------+-------------------+------+
|Name| Age|Married|         Experience|Salary|
+----+----+-------+-------------------+------+
| Ahm|  30|     no|                  2|  2000|
| Mom|  50|    yes|                 20|  3000|
| Nom|  30|     no|                  5|  2500|
|  Ib|  40|     no|                 15|  3000|
|Ibra|  44|    yes|                 14|  3100|
|Momh|  55|    yes|                 20|  3200|
|Nomg|  33|     no|                  6|  2300|
|null|null|     no|here missing values| 10000|
|null|null|     no|here missing values|   500|
+----+----+-------+-------------------+------+

In [18]:
dfspark.na.fill('here missing values').show()

+-------------------+-------------------+-------+-------------------+------+
|               Name|                Age|Married|         Experience|Salary|
+-------------------+-------------------+-------+-------------------+------+
|                Ahm|                 30|     no|                  2|  2000|
|                Mom|                 50|    yes|                 20|  3000|
|                Nom|                 30|     no|                  5|  2500|
|                 Ib|                 40|     no|                 15|  3000|
|               Ibra|                 44|    yes|                 14|  3100|
|               Momh|                 55|    yes|                 20|  3200|
|               Nomg|                 33|     no|                  6|  2300|
|here missing values|here missing values|     no|here missing values| 10000|
|here missing values|here missing values|     no|here missing values|   500|
+-------------------+-------------------+-------+-------------------+------+

In [19]:
dfspark.na.drop().show()

+----+---+-------+----------+------+
|Name|Age|Married|Experience|Salary|
+----+---+-------+----------+------+
| Ahm| 30|     no|         2|  2000|
| Mom| 50|    yes|        20|  3000|
| Nom| 30|     no|         5|  2500|
|  Ib| 40|     no|        15|  3000|
|Ibra| 44|    yes|        14|  3100|
|Momh| 55|    yes|        20|  3200|
|Nomg| 33|     no|         6|  2300|
+----+---+-------+----------+------+

In [22]:
dfspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Married: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [23]:
dfspark.describe().show()

+-------+----+------------------+-------+------------------+------------------+
|summary|Name|               Age|Married|        Experience|            Salary|
+-------+----+------------------+-------+------------------+------------------+
|  count|   7|                 7|      9|                 7|                 9|
|   mean|null|40.285714285714285|   null|11.714285714285714|3288.8888888888887|
| stddev|null| 9.911513266807207|   null|7.3646517390909425| 2652.566890977702|
|    min| Ahm|                30|     no|                14|             10000|
|    max|Nomg|                55|    yes|                 6|               500|
+-------+----+------------------+-------+------------------+------------------+

In [34]:
dfspark.agg({'Salary': 'mean'}).show()

+------------------+
|       avg(Salary)|
+------------------+
|3288.8888888888887|
+------------------+

In [ ]:
# We can use many methods to replace null, such as fillna() & fill(), as we did above 
#https://sparkbyexamples.com/pyspark/pyspark-fillna-fill-replace-null-values/


# Here We need to use Imputer to replace null values with mean value
#https://stackoverflow.com/questions/51680462/replace-null-values-with-median-in-pyspark
#https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.ml.feature.Imputer.html

In [73]:
	dfspark.select("Age").dtypes

[('Age', 'string')]

In [88]:

# First We should change string to integer by using IntegerType function from pyspark.sql.types
from pyspark.sql.types import *
dfspark = dfspark.withColumn("Age", dfspark["Age"].cast(IntegerType()))

In [75]:
dfspark.show()

+----+----+-------+----------+------+
|Name| Age|Married|Experience|Salary|
+----+----+-------+----------+------+
| Ahm|  30|     no|         2|  2000|
| Mom|  50|    yes|        20|  3000|
| Nom|  30|     no|         5|  2500|
|  Ib|  40|     no|        15|  3000|
|Ibra|  44|    yes|        14|  3100|
|Momh|  55|    yes|        20|  3200|
|Nomg|  33|     no|         6|  2300|
|null|null|     no|      null| 10000|
|null|null|     no|      null|   500|
+----+----+-------+----------+------+

In [76]:
dfspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Married: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [89]:
dfspark = dfspark.withColumn("Experience", dfspark["Experience"].cast(IntegerType()))
dfspark = dfspark.withColumn("Salary", dfspark["Salary"].cast(IntegerType()))

In [90]:
dfspark.printSchema()

root
 |-- Name: string (nullable = false)
 |-- Age: integer (nullable = true)
 |-- Married: string (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [91]:
dfspark = dfspark.na.fill('Unknown Person',['Name'])
dfspark.show()

+--------------+----+-------+----------+------+
|          Name| Age|Married|Experience|Salary|
+--------------+----+-------+----------+------+
|           Ahm|  30|     no|         2|  2000|
|           Mom|  50|    yes|        20|  3000|
|           Nom|  30|     no|         5|  2500|
|            Ib|  40|     no|        15|  3000|
|          Ibra|  44|    yes|        14|  3100|
|          Momh|  55|    yes|        20|  3200|
|          Nomg|  33|     no|         6|  2300|
|Unknown Person|null|     no|      null| 10000|
|Unknown Person|null|     no|      null|   500|
+--------------+----+-------+----------+------+

In [92]:
# use mean 
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy("median")
# Add imputation cols to df
imputer.fit(dfspark).transform(dfspark).show()

+--------------+----+-------+----------+------+-----------+------------------+--------------+
|          Name| Age|Married|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+--------------+----+-------+----------+------+-----------+------------------+--------------+
|           Ahm|  30|     no|         2|  2000|         30|                 2|          2000|
|           Mom|  50|    yes|        20|  3000|         50|                20|          3000|
|           Nom|  30|     no|         5|  2500|         30|                 5|          2500|
|            Ib|  40|     no|        15|  3000|         40|                15|          3000|
|          Ibra|  44|    yes|        14|  3100|         44|                14|          3100|
|          Momh|  55|    yes|        20|  3200|         55|                20|          3200|
|          Nomg|  33|     no|         6|  2300|         33|                 6|          2300|
|Unknown Person|null|     no|      null| 10000|         40|                14|         10000|
|Unknown Person|null|     no|      null|   500|         40|                14|           500|
+--------------+----+-------+----------+------+-----------+------------------+--------------+

In [93]:
# use Median 
from pyspark.ml.feature import Imputer

imputer2 = Imputer(
    inputCols=['Age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy("mean")
# Add imputation cols to df
df=imputer2.fit(dfspark).transform(dfspark).show()

+--------------+----+-------+----------+------+-----------+------------------+--------------+
|          Name| Age|Married|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+--------------+----+-------+----------+------+-----------+------------------+--------------+
|           Ahm|  30|     no|         2|  2000|         30|                 2|          2000|
|           Mom|  50|    yes|        20|  3000|         50|                20|          3000|
|           Nom|  30|     no|         5|  2500|         30|                 5|          2500|
|            Ib|  40|     no|        15|  3000|         40|                15|          3000|
|          Ibra|  44|    yes|        14|  3100|         44|                14|          3100|
|          Momh|  55|    yes|        20|  3200|         55|                20|          3200|
|          Nomg|  33|     no|         6|  2300|         33|                 6|          2300|
|Unknown Person|null|     no|      null| 10000|         40|                11|         10000|
|Unknown Person|null|     no|      null|   500|         40|                11|           500|
+--------------+----+-------+----------+------+-----------+------------------+--------------+